<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">

    <!-- <mat-form-field>
        <input readonly matInput placeholder="QuoteID" formControlName="QuoteID">

    </mat-form-field> -->
    <mat-form-field>
        <input matInput placeholder="QuoteType" formControlName="QuoteType">
        <div *ngIf="form.get('QuoteType').invalid && (form.get('QuoteType').dirty || form.get('QuoteType').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('QuoteType').errors.required">
                Quote Type is required.
            </div>
        </div>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Contact" formControlName="Contact">
        <div *ngIf="form.get('Contact').invalid && (form.get('Contact').dirty || form.get('Contact').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('Contact').errors.required">
                Contact is required.
            </div>
        </div>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Task" formControlName="Task">
        <div *ngIf="form.get('Task').invalid && (form.get('Task').dirty || form.get('Task').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('Task').errors.required">
                Task is required.
            </div>
        </div>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Date" formControlName="DueDate">
        <div *ngIf="form.get('DueDate').invalid && (form.get('DueDate').dirty || form.get('DueDate').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('DueDate').errors.required">
                Due Date is required.
            </div>
        </div>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="TaskType" formControlName="TaskType">
        <div *ngIf="form.get('TaskType').invalid && (form.get('TaskType').dirty || form.get('TaskType').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('TaskType').errors.required">
                Task Type is required.
            </div>
        </div>
    </mat-form-field>
    <br>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>